//= templates/_header.html
<div class="wrapper">
	<div class="cont">
		<div class="cont__item cont__item-3">
			<div class="block">
				<h3 class="block__title">Лента новостей</h3>
				<div id="scrollbarY">
					 <div class="scrollbar">
						 <div class="track">
							 <div class="thumb">
								 <div class="end">
								 </div>
							 </div>
						 </div>
					 </div>
					<div class="news viewport">
						<div class="overview">
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, ratione.</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, distinctio.</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, quae!</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, commodi.</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, consequuntur.</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, dolorem.</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, soluta?</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, modi!</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, maiores!</div>
								</div>
							</div>
							<div class="news__item">
								<div class="item">
									<div class="item__time">19:22</div>
									<div class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, omnis.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<div class="banner">
					<img src="img/banner-315x380.jpg" alt="banner">
				</div>
			</div>
			<div class="block">
				<h3 class="block__title">Фото</h3>
				<div class="carusel" id="foto">
					<div class="carusel__item">
						<div class="carusel__img" style="background-image: url('img/foto.jpg')"></div>
						<p class="carusel__title carusel__title-sm">В Открытие нового Московского центрального кольца (МЦК)</a>
					</div>
					<div class="carusel__item">
						<div class="carusel__img" style="background-image: url('img/foto.jpg')"></div>
						<p class="carusel__title carusel__title-sm">В Открытие нового Московского центрального кольца (МЦК)</a>
					</div>
					<div class="carusel__item">
						<div class="carusel__img" style="background-image: url('img/foto.jpg')"></div>
						<p class="carusel__title carusel__title-sm">В Открытие нового Московского центрального кольца (МЦК)</a>
					</div>
				</div>
			</div>
		</div>
		<div class="cont__item cont__item-3">
			<div class="block">
				<h3 class="block__title">Главные новости</h3>
				<div class="carusel" id="carusel">
					<div class="carusel__item">
						<div class="carusel__img" style="background-image: url('img/putin.jpg')"></div>
						<a href="#" class="carusel__title">В Минтруда пообещали Путину обогнать страны Европы по рождаемости</a>
					</div>
					<div class="carusel__item">
						<div class="carusel__img" style="background-image: url('img/putin.jpg')"></div>
						<a href="#" class="carusel__title">В Минтруда пообещали Путину обогнать страны Европы по рождаемости</a>
					</div>
					<div class="carusel__item">
						<div class="carusel__img" style="background-image: url('img/putin.jpg')"></div>
						<a href="#" class="carusel__title">В Минтруда пообещали Путину обогнать страны Европы по рождаемости</a>
					</div>
				</div>
			</div>
			<div class="block">
				<div class="cont cont-row">
					<div class="cont__item cont__item-flex cont__item-2">
						<div class="block block-row">
							<h3 class="block__title block__title-flex">Кыргызтан</h3>
							<div class="news news-flex news-row">
								<div class="news__item news__item-flex">
									<div class="item item-row">
										<div class="item__img item__img-row" style="background-image: url('img/img-1.jpg')"></div>
										<div class="item__intro">Обсуждены вопросы экспорта продукции из Киргизии в Катар</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cont__item cont__item-flex cont__item-2">
						<div class="block block-row">
							<h3 class="block__title block__title-flex">ЕЭАС</h3>
							<div class="news news-flex news-row">
								<div class="news__item news__item-flex">
									<div class="item item-row">
										<div class="item__img item__img-row" style="background-image: url('img/img-2.jpg')"></div>
										<div class="item__intro">В ЕЭК пройдут консультации в связи с обращением Минэкономики Киргизии</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<div class="cont cont-row">
					<div class="cont__item cont__item-flex cont__item-2">
						<div class="block block-row">
							<h3 class="block__title block__title-flex">Культура</h3>
							<div class="news news-flex news-row">
								<div class="news__item news__item-flex">
									<div class="item item-row">
										<div class="item__img item__img-row" style="background-image: url('img/img-3.jpg')"></div>
										<div class="item__intro">Начата выплата заработных плат гражданам Кыргызской Республики, работавшим в типографии «Печатный экспресс» в г.Москва</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cont__item cont__item-flex cont__item-2">
						<div class="block block-row">
							<h3 class="block__title block__title-flex">Миграция</h3>
							<div class="news news-flex news-row">
								<div class="news__item news__item-flex">
									<div class="item item-row">
										<div class="item__img item__img-row" style="background-image: url('img/img-4.jpg')"></div>
										<div class="item__intro">Николай Бордюжа выразил соболезнования в связфи с гибелью граждан Киргизии</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h3 class="block__title">Видео</h3>
				<div class="video">
					<div class="video__first baloon" style="background-image: url('img/video.jpg')" data-text="Какая-то всплывашка с описанием">
					</div>
					<div class="video__second">
						<div class="video__item baloon" style="background-image: url('img/video.jpg')" data-text="Какая-то всплывашка с описанием"></div>
						<div class="video__item baloon" style="background-image: url('img/video.jpg')" data-text="Какая-то всплывашка с описанием"></div>
					</div>
					<div class="video__text">Минобороны РФ обнаружило миномет в составе гумконвоя в Сирии</div>
				</div>
			</div>
		</div>
		<div class="cont__item cont__item-3">
			<div class="block">
				<h3 class="block__title">Аналитика</h3>
				<div class="news">
					<div class="news__item">
						<div class="item">
							<div class="item__intro">Николай Бордюжа заявил о важности обмена информацией</div>
						</div>
					</div>
					<div class="news__item">
						<div class="item">
							<div class="item__intro">ОДКБ разрабатывает проект инфраструктуры таджикско-афганской границы</div>
						</div>
					</div>
					<div class="news__item">
						<div class="item">
							<div class="item__intro">В Москве прошло заседание Экономического Совета СНГ</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h3 class="block__title">Мнения</h3>
				<div class="news">
					<div class="news__item">
						<div class="item">
							<div class="item__img" style="background-image: url('img/face-1.jpg')"></div>
							<div class="item__intro">Кыргызские диаспоры в России пользуются не плохим авторитетом</div>
						</div>
					</div>
					<div class="news__item">
						<div class="item">
							<div class="item__img" style="background-image: url('img/face-2.jpg')"></div>
							<div class="item__intro">России необходима военная база в Оше, как элемент военно-стратегического планирования</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h3 class="block__title">Аналитика</h3>
				<div class="news">
					<div class="news__item">
						<div class="item">
							<div class="item__img" style="background-image: url('img/face-3.jpg')"></div>
							<div class="item__intro">Роза Отунбаева: Великий Шелковый пояс определяет путь для Кыргызстана</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h3 class="block__title">Кыргызтанцы</h3>
				<div class="carusel people" id="people">
					<div class="carusel__item">
						<div class="item">
							<div class="item__img" style="background-image: url('img/face-4.jpg')"></div>
							<div class="item__intro item__intro-name">Михаил Ефимович Швыдкой<span class="item__burndate">5 сентября 1948</span></div>
						</div>
</div>
					<div class="carusel__item">
						<div class="item">
							<div class="item__img" style="background-image: url('img/face-4.jpg')"></div>
							<div class="item__intro item__intro-name">Михаил Ефимович Швыдкой<span class="item__burndate">5 сентября 1948</span></div>
						</div>
</div>
					<div class="carusel__item">
						<div class="item">
							<div class="item__img" style="background-image: url('img/face-4.jpg')"></div>
							<div class="item__intro item__intro-name">Михаил Ефимович Швыдкой<span class="item__burndate">5 сентября 1948</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h3 class="block__title">Объявления</h3>
				<div class="news">
					<div class="news__item">
						<div class="item">
							<div class="item__intro">Госпожа Люба. Предсказание судьбы, снятие порчи. 8 (495) 641-84-40, 8 (910) 455-66-66.</div>
						</div>
					</div>
					<div class="news__item">
						<div class="item">
							<div class="item__intro">Госпожа Люба. Предсказание судьбы, снятие порчи. 8 (495) 641-84-40, 8 (910) 455-66-66.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h3 class="block__title">Опрос</h3>
				<div class="interview">
					<div class="interview__title">Нужна ли консолидация кыргызстанцев в России?</div>
					<div class="interview__item">
						<input type="radio" name="interw" id="select-1" class="radio">
						<label for="select-1">Да, нужна</label>
					</div>
					<div class="interview__item">
						<input type="radio" name="interw" id="select-2" class="radio">
						<label for="select-2">Нет, не нужна</label>
					</div>
					<div class="interview__item">
						<input type="radio" name="interw" id="select-3" class="radio">
						<label for="select-3">Затрудняюсь ответить</label>
					</div>
					<input type="submit" class="button button-interview" value="Голосовать">
				</div>
			</div>
		</div>
	</div>
	<div class="cont">
		<div class="cont__item">
			<div class="block">
				<div class="banner">
					<img src="img/banner-2.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="cont">
		<div class="cont__item cont__item-3">
			<div class="block">
				<div class="banner">
					<img src="img/banner-3.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="cont__item cont__item-3">
			<div class="block">
				<div class="banner">
					<img src="img/banner-3.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="cont__item cont__item-3">
			<div class="block">
				<div class="banner">
					<img src="img/banner-3.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/_footer.html