	<footer class="footer">
		<div class="wrapper">
			<p>© 2016 Kginfo.ru – информационно-аналитический портал</p>
			<p>Электронное периодическое издание «Kginfo.ru» зарегистрировано в Федеральной службе по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия 17 декабря 2014 г.<br>
			Свидетельство о регистрации СМИ Эл № ФС77- 49659.</p>
			<p>При цитировании информации гиперссылка на Kginfo.ru обязательна.<br>
			Использование материалов Kginfo.ru в коммерческих целях без письменного разрешения агентства не допускается.</p>
		</div>
		<ul class="footermenu">
			<li class="footermenu__item">
				<a href="#">О портале</a>
			</li>
			<li class="footermenu__item">
				<a href="#">Письмо в редакцию</a>
			</li>
			<li class="footermenu__item">
				<a href="#">Контакты</a>
			</li>
			<li class="footermenu__item">
				<a href="#">Реклама на сайте</a>
			</li>
			<li class="footermenu__item">
				<a href="#">Использование материалов</a>
			</li>
			<li class="footermenu__item">
				<a href="#">Карта сайта</a>
			</li>
		</ul>
	</footer>

	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery.tinyscrollbar.min.js"></script>
	<script src="./js/owl.carousel.min.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>